.header {
  position: relative;
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100vw;
}

.header__logo {
  position: relative;
}

@media screen and (max-width: 775px) {
  .header {
    max-width: 600px;
    margin: 45px auto 0;
  }

  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-bottom: 32px;
    margin-top: 28px;
  }

  .header__logo {
    height: 24px;
    width: 126px;
  }
}
