.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  /* position: absolute; */
  background-color: #fff;
  /* padding: 36px; */
  border-radius: 10px;
  /* padding: 19px; */
  display: flex;
  flex-direction: column;
  max-width: 430px;
  max-height: 330px;
  /* top: 195px;
  left: 425px; */
  margin: 0 auto;
  /* padding-top: 34px;
  padding-bottom: 36px; */
}

.modal__close {
  background-image: url(../images/close_icon.svg);
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100%);
  left: calc(100%);
  transform: rotate(45deg);
  cursor: pointer;
}

.modal__heading {
  color: #000;
  font-family: Inter, "Segou UI", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  width: 330px;
  max-height: 23px;
  /* margin-left: 36px;
  margin-right: 64px; */
  margin: 34px 64px 54px 36px;
  position: relative;
  /* top: 229px;
  left: 461px; */
}

.modal__title-input {
  width: 358px;
  max-height: 28;
  margin: 0 36px 29px;
  display: flex;
  font-family: Inter, "Segou UI", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
}

.modal__description-input {
  width: 358px;
  max-height: 28px;
  display: flex;
  margin: 0 36px 48px;
  font-family: Inter, "Segou UI", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
}

.modal__button {
  width: 358px;
  height: 51px;
  margin: 0 36px 37px;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  font-family: Inter, "Segou UI", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 546px) {
  .modal__close {
    height: 26px;
    width: 26px;
    left: calc(100% - 32px);
    bottom: calc(100% + 22px);
  }

  .modal__container {
    top: 123px;
    height: 322px;
    width: 282px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .modal__heading {
    max-width: 238px;
    margin: 25px 22px 75px;
  }

  .modal__title-input {
    max-height: 27px;
    max-width: 238px;
    margin: 0 22px 30px;
  }

  .modal__description-input {
    max-height: 27px;
    max-width: 238px;
    margin: 0 22px 45px;
  }

  .modal__button {
    max-height: 46px;
    max-width: 238px;
    margin: 0 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
