.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.modal-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  flex-direction: column;

  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.modal-image__container {
  max-height: 540px;
  max-width: 816px;
  position: relative;
  display: inline-block;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.modal-image__inner-container {
  max-height: 540px;
  max-width: 816px;
  overflow: hidden;
  position: relative;
  object-fit: contain;

  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}

.modal-image__picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-image__title {
  position: relative;
  width: 291px;
  height: 12px;
  font-family: Inter, "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.6px;
  color: #fff;
  margin-top: 10px;
  left: 0;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.6s linear;
}

.modal__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  max-height: 330px;
  margin: 0 auto;
}

.modal__close {
  background-image: url(../images/close_icon.svg);
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100%);
  left: calc(100%);
  transform: rotate(45deg);
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: #000;
  font-family: Inter, "Segou UI", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  width: 330px;
  max-height: 23px;
  margin: 34px 64px 54px 36px;
  position: relative;
}

.modal__form {
}

.modal__form-label {
  position: relative;
  height: 45px;
}

.modal__input {
  width: 358px;
  /* max-height: 28px; */
  height: 28px;
  margin: 0 36px 29px;
  display: flex;
  font-family: Inter, "Segou UI", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* padding-bottom: 13px; */
  position: relative;
}

.modal__input_type_error {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.modal__input-error {
  z-index: 1000;
  position: absolute;
  width: 358px;
  height: 17px;
  color: red;
  display: flex;
  margin: 0 36px 13px;
  /* top: 28px; */
  font-size: 12px;
  line-height: 14.5px;
  font-family: Inter, "Segou UI", sans-serif;
  font-weight: 400;
}

#modal_profile_name-input-error {
  top: 33px;
}

#modal_description-input-error {
  top: 33px;
}

#modal_title-input-error {
  top: 33px;
}

#modal_link-input-error {
  top: 33px;
}

.modal__input-error_active {
  opacity: 1;
}

.modal__button {
  width: 358px;
  height: 51px;
  margin: 19px 36px 37px;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  font-family: Inter, "Segou UI", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.modal__button_disabled {
  opacity: 0.2;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.modal__button:hover {
  opacity: 0.6;
}

.modal__button_disabled:hover {
  opacity: 0.2;
}

@media screen and (max-width: 546px) {
  .modal__close {
    height: 26px;
    width: 26px;
    left: calc(100% - 32px);
    bottom: calc(100% + 22px);
  }

  .modal__close_image {
    height: 30px;
    width: 30px;
    left: calc(100%);
    bottom: calc(100%);
  }

  .modal__container {
    top: 123px;
    height: 322px;
    width: 282px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .modal-image__container {
    height: 299px;
    width: 240px;
    margin: 136px 40px 133px;
  }

  .modal__heading {
    max-width: 238px;
    margin: 25px 22px 75px;
    font-size: 18px;
  }

  .modal__input {
    max-height: 27px;
    max-width: 238px;
    margin: 0 22px 30px;
  }

  .modal__button {
    max-height: 46px;
    max-width: 238px;
    margin: 15px 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
