.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 775px) {
  .page {
    overflow-x: hidden;
  }
}
